<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Barra lateral</title>
</head>
<body>
	<div class="d-flex" th:fragment="sidebar">
        <div class="sidebar p-3">
            <h5>Contenido Adicional</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Calendario Academico</a>
                </li>
            </ul>
        </div>
     </div>
</body>
</html>