<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>Header</title>
</head>
<body>

	<div class="navbar header" th:fragment="header">
	    <nav class="navbar bg-body-tertiary">
	        <div class="container-fluid">
	            <a class="navbar-brand" href="/principal/index">
	                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-nLUU818q5nzPQGcVtuqCYsk3leQ7ML82MgwYEbM-2g&s" alt="Logo" width="100" height="90" class="d-inline-block align-text-top rounded-circle">
	            </a>
	            <div class="d-inline-block align-text-top">
	                <span class="navbar-text">Universidad Nacional de Jujuy</span>
	                <br>
	                <small class="text-muted ">En cada presente, una oportunidad</small>
	            </div>
	        </div>
	    </nav>
	</div>

	
</body>
</html>