<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pie de Pagina</title>
</head>
<body>
	<div class="footer" th:fragment="footer">
		<a href="https://www.google.com.ar/maps/place/Rectorado+Universidad+Nacional+de+Jujuy/@-24.1792237,-65.3268288,16z/data=!4m8!1m2!7m1!2e1!3m4!1s0x0:0xec5637cee120622a!8m2!3d-24.1794458!4d-65.324644?hl=es-419" class="aFooter"><h3 class="h3">Direccion: Av.Bolivia 1239</h3></a>
		<a href="consultas@unju.edu.ar" class="aFooter"><h3 class="h3">E-mail: consultas@unju.edu.ar</h3></a>
		<a href="https://twitter.com/prensaunju?lang=es" class="aFooter"><h3 class="h3">Twitter</h3></a>
		<a href="https://www.facebook.com/universidadnacionaldejujuy/" class="aFooter"><h3 class="h3">Facebook</h3></a>
		<a href="http://tv.unju.edu.ar/" class="aFooter"><h3 class="h3">Youtube</h3></a>
		<h3 class="aFooter">Teléfono: (0388) 4244196 / 191 / 107</h3>
	</div>
</body>
</html>